<header>
    <nav class="header-nav">
        <a class="header-title" href="/">生态系统生产总值核算评估分析系统</a>
        
        <% if(locals.islogin) { %>
            <ul>
                <li>
                    <a href="/user/<%= locals.id %>">你好！<%= locals.name %></a>
                </li>
                <li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit">退出</button>
                    </form>
                </li>
            </ul>

        <% } else{ %>
            <ul>
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
        <% } %>
    </nav>
</header>