<header>
    <nav>
        <a href="/">GEP核算系统</a>
        <br>
        <input type="text" placeholder="Search..">
        <ul>
            <li><a href="/login">登录</a></li>
            <li><a href="/register">注册</a></li> 
        </ul>
    </nav>
</header>