<form class="select-container" action="/">
    <div class="select-inner-container">
        <a href="/add">添加计算</a>
    </div>
    <div class="select-inner-container">
        <label for="years">年份：</label>
        <select name="years" id="years">
            <option value="volvo">2017</option>
            <option value="saab">2018</option>
            <option value="mercedes">2019</option>
            <option value="audi">2020</option>
        </select>
        <label for="types">调节服务类型：</label>
        <select name="types" id="types">
            <option value="volvo">水源涵养</option>
            <option value="saab">土壤保持</option>
            <option value="mercedes">防风固沙</option>
            <option value="audi">洪水调蓄</option>
        </select>
    </div>
</form>
<br>
<div id="map"></div>