@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';

:root {
    font-family: 'Dong Qing';
    font-size: 20px;
    color: var(--color-text-light);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

#map {
    margin: auto;
    height: 900px;
    width: 1600px;
    max-width: 100%;
    max-height: 100%;
}