@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';

:root {
    font-family: 'Dong Qing';
    font-size: 20px;
    color: var(--color-text-light);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 0rem;
}

#map {
    position: absolute;
    height: 740px;
    right: 0.5rem;
    width: 99%;
    max-height: 100%;
    transition: 0.5s;
}

.select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-container span {
    cursor:pointer;
}

.select-container .span-left {
    position: relative;
    font-size:1.5rem;
    left: 0;
}

.select-container .span-right {
    display: inline;
}

.select-container select {
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.side-nav {
    height: 740px;
    max-height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: var(--color-background-light);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 12px 12px 12px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-text-light);
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #f1f1f1;
}

.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .side-nav {
        padding-top: 15px;
    }

    .side-nav a {
        font-size: 18px;
    }
}