<form action="/add/airPurification" method="POST" enctype="multipart/form-data">
    <label>计算年份</label>
    <input type="text" name="year">
    <label>细颗粒物(kg/a)</label>
    <input type="file" name="f1">
    <label>二氧化硫(kg/a)</label>
    <input type="file" name="f2">
    <label>二氧化氮(kg/a)</label>
    <input type="file" name="f3">
    <label>PM10(kg/a)</label>
    <input type="file" name="f4">
    <label>细颗粒物净化单价</label>
    <input type="text" name="t1">
    <label>二氧化硫净化单价</label>
    <input type="text" name="t2">
    <label>二氧化氮净化单价</label>
    <input type="text" name="t3">
    <label>PM10净化单价</label>
    <input type="text" name="t4">
    <button type="submit">确定</button>
</form>

