<form action="/add/floodControl" method="POST" enctype="multipart/form-data">
    <label>计算年份</label>
    <input type="text" name="year">
    <label>植被洪水调蓄量(m³/a)</label>
    <input type="file" name="f1">
    <label>库塘洪水调蓄量(m³/a)</label>
    <input type="file" name="f2">
    <label>为湖区洪水调蓄量(m³/a)</label>
    <input type="file" name="f3">
    <label>沼泽洪水调蓄量(m³/a)</label>
    <input type="file" name="f4">
    <button type="submit">确定</button>
</form>

