<form action="/add/soilConservation" method="POST" enctype="multipart/form-data">
    <label>计算年份</label>
    <input type="text" name="year">
    <label>为降雨侵蚀力因子</label>
    <input type="file" name="f1">
    <label>土壤可蚀性因子</label>
    <input type="file" name="f2">
    <label>坡长</label>
    <input type="file" name="f3">
    <label>坡度</label>
    <input type="file" name="f4">
    <label>植被覆盖</label>
    <input type="file" name="f5">
    <label>水土保持措施因子</label>
    <input type="file" name="f6">
    <button type="submit">确定</button>
</form>
