<form action="/add/waterPurification" method="POST" enctype="multipart/form-data">
    <label>计算年份</label>
    <input type="text" name="year">
    <label>总氮(t/a)</label>
    <input type="file" name="f1">
    <label>总磷(t/a)</label>
    <input type="file" name="f2">
    <label>COD</label>
    <input type="file" name="f3">
    <label>总氮处理单价</label>
    <input type="file" name="t1">
    <label>总磷处理单价</label>
    <input type="file" name="t2">
    <label>COD处理单价</label>
    <input type="file" name="t3">
    <button type="submit">确定</button>
</form>

