<div class="form-input">
    <% if (message) { %>
        <%= message %>
            <% } %>
                <form action="/add/waterConservation" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-item">
                            <label>计算年份</label>
                            <input type="number" name="year" min="1980" max="2025" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <label>降雨量(mm/a)</label>
                            <input type="file" name="f1" accept=".tif, .tiff|image/*" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <label>地表径流(mm/a)</label>
                            <input type="file" name="f2" accept=".tif, .tiff|image/*" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <label>蒸散发量(mm/a)</label>
                            <input type="file" name="f3" accept=".tif, .tiff|image/*" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <label>水单价</label>
                            <input type="text" name="t1" accept=".tif, .tiff|image/*" required>
                        </div>
                    </div>
                    <a class="btn btn-a" href="/">取消</a>
                    <button class="btn btn-primary" type="submit">确定</button>
                </form>
</div>