<form action="/add/windbreakAndSandFixation" method="POST" enctype="multipart/form-data">
    <label>计算年份</label>
    <input type="text" name="year">
    <label>防风固沙量(t/a)</label>
    <input type="file" name="f1">
    <label>气候侵蚀因子(kg/m)</label>
    <input type="file" name="f2">
    <label>土壤结皮因子</label>
    <input type="file" name="f3">
    <label>地表糙度因子</label>
    <input type="file" name="f4">
    <label>植被覆盖因子</label>
    <input type="file" name="f5">
    <button type="submit">确定</button>
</form>

